body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  color: #434455;
  background-color: #ffffff;
  --body-fonts: 'Roboto', 'Raleway', sans-serif;
}
/* Header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo_span {
  color: #2e2f42;
}
.list {
  list-style: none;
}
.nav_header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav_header:hover,
.nav_header:focus {
  color: #404bbf;
}
.link {
  text-decoration: none;
}
.contacts_header {
  font-style: normal;
}
.email_header {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.email_header:hover,
.email_header:focus {
  color: #404bbf;
}
/* Hero */
.hero_main {
  background-color: #2e2f42;
}
.hero_text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button_hero {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button_hero:hover,
.button_hero:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* Main */
.benefits_paragrah {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.benefits_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* Images_section */
.images_main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.images_descrip {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}
/* Team-main */
.team_main {
  background-color: #f4f4fd;
}
.team_head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.list_team {
  background-color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.list_team_name {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.list_team_parah {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Footer */
.footer_main {
  background-color: #2e2f42;
}
.logo_span_footer {
  color: #f4f4fd;
}
.footer_par {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
/* Second page */
.buttons {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.buttons:hover,
.buttons:focus {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
}
.img_head_hame {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.port_parah {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
